{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}

        <h1>New Team</h1>
        {{ include('team/_form.html.twig') }}

            <a class="btn btn-outline-success" href="{{ path('team_index') }}" >Return to list</a>


{% endblock %}
